{% extends 'home/home_page.html' %}
{% block timesheets %}
<form method="post">{% csrf_token %}
<h1>Time Entries</h1>
<div class="btn-group btn-group-lg py-3">
<a class="btn btn-outline-dark" href="{% url 'timesheet-manage' timesheet.pk %}?timeentry-extra={{ timeentry_extra }}&timeentry-minus=1">-</a>
<a class="btn btn-outline-dark" href="{% url 'timesheet-manage' timesheet.pk %}?timeentry-extra={{ timeentry_extra }}&timeentry-plus=1">+</a>
</div>
<ul>
  {{ timeentry_formset.as_ul }}
</ul>
<h1>Notes</h1>
<div class="btn-group btn-group-lg py-3">
<a class="btn btn-outline-dark" href="{% url 'timesheet-manage' timesheet.pk %}?note-extra={{ note_extra }}&note-minus=1">-</a>
<a class="btn btn-outline-dark" href="{% url 'timesheet-manage' timesheet.pk %}?note-extra={{ note_extra }}&note-plus=1">+</a>
</div>
<ul>
  {{ note_formset.as_ul }}
</ul>
<input class="btn btn-lg btn-primary" type="submit" value="Submit">
</form>
{% endblock %}
